# .npmrc
# Use pnpm
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

# Node version
node-version=24.14.1

# Registry
registry=https://registry.npmjs.org/

# Save exact versions by default
save-exact=true

node-linker=hoisted