@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base project styles */
html, body, #root {
  height: 100%;
}
body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
